/* Main Body items Aligned to Center */

body {
    text-align: center; 
}

/* Button Styles */

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Increment Button Styles */

#increment-btn{
    background-color: darkred;
    color: white;
}

/* Save Button Styles */

#save-btn {
    background-color: darkgreen;
    color: white;
}